body{
     background-color:  #e68c4d;
     color: black;
     text-align: center;
 }
 
 span{
     color: #2244aa;
 }
 
 #summary{
     width: 30%;
     margin: 10px auto;
 }
 
 section{
     width: 40%;
     margin: 10px auto;
     color: black;
 }
